<div class="comment">
  <p>
    <% if comment.user %>
      <%= link_to comment.user.display_name, user_path(comment.user) %>
    <% else %>
      Anonymous
    <% end %>
  </p>
  <p>
  <strong>Comment:</strong>
  <%= comment.content %>
  </p>
  <% if current_user?(comment.user) %>
    <%= link_to "delete", [comment.post, comment], method: :delete %>
  <% end %>
</div>
