<div class="comment">
  <p>
    <% if comment.user %>
      <%= link_to comment.commenter, user_path(comment.user) %>
    <% else %>
      Anonymous
    <% end %>
  </p>
  <p>
  <strong>Comment:</strong>
  <%= comment.content %>
  </p>
</div>
