<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <%= @post.content %>
    </p>
      <%= render @comments %>
    <a href="#" id="comment-button">Comment</a>
    <div id="comment-form">
      <%= render 'comments/form' %>
    </div>
  </div>
</div>

