<header class="navbar navbar-default">
  <div class="container">
    <%= link_to "ReChan", root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to current_user.display_name, user_path(current_user) %></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      <% else %>
        <li>
          <!-- Button trigger modal -->
          <button type="button" id="signup-button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Sign up
          </button>
        </li>
        <li>
          <!-- Button trigger modal -->
          <a href="#" type="button" id="login-button" class="" data-toggle="modal" data-target="#myModal">
            Log in
          </a>
        </li>
        <%= render 'shared/modal_login_signup' %>
      <% end %>
    </ul>
  </div>
</header>

